{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
</head>

  <title>Apartment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <link rel="stylesheet" href="{% static "styles\style.css" %}">
<link rel="stylesheet" href="{% static "styles\scripts.js" %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#myPage">logo</a>-->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#services">AMENITIES</a></li>
        <li><a href="#portfolio">TOUR THE APARTMENT</a></li>

        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
        <br><br><br>
        <br>


  <form method="post" action=" {% url "home" %} ">
    {% csrf_token %}
    <table border="1">
    {{ form.as_p}}
    <input type="submit" value="BOOK">
    </table>
</form>
</div>

<div style="margin-left:25%">

<div id="myCarousel" class="carousel slide container-fluid" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{% static "images\livingroom.jpg "%}" alt="New York" width="1200" height="700" style="margin-left:0%">
        <div class="carousel-caption">
          <h3>Living Room</h3>

        </div>
      </div>

      <div class="item">
        <img src="{% static "images\diningroom.jpg "%}" alt="Chicago" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Diningroom</h3>

        </div>
      </div>

      <div class="item">
        <img src="{% static "images\bedroom.jpg "%}" alt="Los Angeles" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Bedroom</h3>

        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


</div>
  <div>
      {% for i in s %}
     Cost per night

          {{i}}
      {%endfor%}
  </div>



<div id="services" class="container-fluid text-center ">
  <h2>AMENITIES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row ">
    <div class="col-sm-4">
      <span class=""></span>
	  <img src="{% static "images\wireless-internet.png "%}">
      <h4>Wifi</h4>

    </div>
    <div class="col-sm-4">
      <span class=""></span>
	  <img src="{% static "images\tv.png "%}">
      <h4>TV</h4>

    </div>
    <div class="col-sm-4">
      <span class=""></span>
	  <img src="{% static "images\iron.png "%}">
      <h4>Iron</h4>

    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class=""></span>
	  <img src="{% static "images\coffee-maker.png "%}">
      <h4>Coffee maker</h4>

    </div>
    <div class="col-sm-4">
      <span class=""></span>
	  <img src="{% static "images\hair-dryer.png "%}">
      <h4>Hair-dryer</h4>

    </div>
    <div class="col-sm-4">
      <span class=""></span>
	  <img src="{% static "images\essentials.png "%}">
      <h4>Essentials</h4>
    </div>
  </div>
</div>

<div class="container">

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">show all amenities</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            {% for i in list %}

          <p>{{ i }}</p>
            {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<div id="contact" class="container-fluid text-center bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
        <p><h1>Contact us and we'll get back to you within 24 hours.</h1></p>
        {% for i in hostdetails %}



      <p><span class="glyphicon glyphicon-map-marker"></span> {{ i }}</p>
      <!--<p><span class="glyphicon glyphicon-phone"></span> number</p>-->

        {% endfor %}

    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>




<div id="portfolio" class="container-fluid text-center bg-grey ">
  <h2>Tour the Apartment</h2>

  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{% static "images\livingroom.jpg "%}" alt="Paris">
        <p><strong>livingroom</strong></p>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{% static "images\diningroom.jpg "%}" alt="New York">
        <p><strong>diningroom</strong></p>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="{% static "images\bedroom.jpg "%}"alt="San Francisco">
        <p><strong>bedroom</strong></p>

      </div>
    </div>
</div>

<div>
<h1>Location</h1>
    <p></p>
</div>

<div id="map"class="container-fluid" style="width:100%;height:400px;"></div>
<!--
<footer class="footer-fixed container">
<div class="book">
  <span>Price</span>


<a href="#" class="btn btn-info" role="button" style="float:right">Request to Book</a>
</div>

</footer>
-->

<script type="text/javascript">
  var delay = 100;
  var infowindow = new google.maps.InfoWindow();
  var latlng = new google.maps.LatLng(17.3850, 78.4867);
  var mapOptions = {
    zoom: 15,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var geocoder = new google.maps.Geocoder();
  var map = new google.maps.Map(document.getElementById("map"), mapOptions);
  var bounds = new google.maps.LatLngBounds();

  function geocodeAddress(address, next) {
    geocoder.geocode({address:address}, function (results,status)
      {
         if (status == google.maps.GeocoderStatus.OK) {
          var p = results[0].geometry.location;
          var lat=p.lat();
          var lng=p.lng();
          createMarker(address,lat,lng);
        }
        else {
           if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
            nextAddress--;
            delay++;
          } else {
                        }
        }
        next();
      }
    );
  }
 function createMarker(add,lat,lng) {
   var contentString = add;
   var marker = new google.maps.Marker({
     position: new google.maps.LatLng(lat,lng),
     map: map,
           });

  google.maps.event.addListener(marker, 'click', function() {
     infowindow.setContent(contentString);
     infowindow.open(map,marker);
   });

   bounds.extend(marker.position);

 }
  var locations = [
           'hyderabad', 'India'

  ];
  var nextAddress = 0;
  function theNext() {
    if (nextAddress < locations.length) {
      setTimeout('geocodeAddress("'+locations[nextAddress]+'",theNext)', delay);
      nextAddress++;
    } else {
      map.fitBounds(bounds);
    }
  }
 theNext();

</script>

</div>
</body>
</html>
