<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">
        
            <li><a href="{% url 'login:register' %}">register</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'login:logout' %}">logout</a></li>
            {% else %}
            <li><a href="{% url 'login:login' %}">login</a></li>
            {% endif %}
            <li><a href="{% url 'login:profile' %}">profile</a></li>
          </ul>
        </div>
      </nav>

      <div class="container">
        {% block body_block %}
        {% endblock %}

      </div>
  </body>
</html>
