<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="host.css">
    <meta charset="utf-8">

    <title></title>
  </head>
  <body>
    <section class="ok">
      <img src="home.png" alt="Avatar" style="width:80px"><br><br>
      <form class="box" action="index.html" method="post">

        <h3 class="heading-class"><b>Hostels</b></h3><br>
        <h4 class="heading-class">Attached Bathroom</h4>

        <h5 class="heading-class">Single Room</h5>
        <div class="input-group input-number-group">
          <div class="input-group-button">
            <span class="input-number-decrement">-</span>
          </div>
          <input class="input-number" type="number" value="1" min="0" max="1000">
          <div class="input-group-button">
            <span class="input-number-increment">+</span>
          </div>
        </div>


        <h5 class="heading-class">Double Room</h5>
        <div class="input-group input-number-group">
          <div class="input-group-button">
            <span class="input-number-decrement">-</span>
          </div>
          <input class="input-number" type="number" value="1" min="0" max="1000">
          <div class="input-group-button">
            <span class="input-number-increment">+</span>
          </div>
        </div>


        <h5 class="heading-class">Triple Room</h5>
        <div class="input-group input-number-group">
          <div class="input-group-button">
            <span class="input-number-decrement">-</span>
          </div>
          <input class="input-number" type="number" value="1" min="0" max="1000">
          <div class="input-group-button">
            <span class="input-number-increment">+</span>
          </div>
        </div>
        <br>

        <h4 class="heading-class">No Attached Bathroom</h4>

                <h5 class="heading-class">Single Room</h5>
                <div class="input-group input-number-group">
                  <div class="input-group-button">
                    <span class="input-number-decrement">-</span>
                  </div>
                  <input class="input-number" type="number" value="1" min="0" max="1000">
                  <div class="input-group-button">
                    <span class="input-number-increment">+</span>
                  </div>
                </div>


                <h5 class="heading-class">Double Room</h5>
                <div class="input-group input-number-group">
                  <div class="input-group-button">
                    <span class="input-number-decrement">-</span>
                  </div>
                  <input class="input-number" type="number" value="1" min="0" max="1000">
                  <div class="input-group-button">
                    <span class="input-number-increment">+</span>
                  </div>
                </div>


                <h5 class="heading-class">Triple Room</h5>
                <div class="input-group input-number-group">
                  <div class="input-group-button">
                    <span class="input-number-decrement">-</span>
                  </div>
                  <input class="input-number" type="number" value="1" min="0" max="1000">
                  <div class="input-group-button">
                    <span class="input-number-increment">+</span>
                  </div>
                </div>



        <hr>
        <a href="##" class="scroll-down" address="true"></a>

    </form>
    </section>
    <section class="ok1">

      <a href="##" class="scroll-up1" address="true"></a>

      <form class="box1" action="index.html" method="post">
        <h4 class="heading-class">Number of floor Beds</h4>

        <div class="input-group input-number-group">
          <div class="input-group-button">
            <span class="input-number-decrement">-</span>
          </div>
          <input class="input-number" type="number" value="1" min="0" max="1000">
          <div class="input-group-button">
            <span class="input-number-increment">+</span>
          </div>
        </div>
        <h3 class="heading-class"><b>what Amenities do you Offer?</b></h3>
          <div class="amenities">
          <input type="checkbox" id="horns" name="horns" unchecked>
          <label for="horns" class="heading-class"><h4 class="heading-class">Essentials</h4></label><br>
          <input type="checkbox" id="horns" name="horns" unchecked>
          <label for="horns" class="heading-class"><h4 class="heading-class">Wifi</h4></label><br>
          <input type="checkbox" id="horns" name="horns" unchecked>
          <label for="horns" class="heading-class"><h4 class="heading-class">Shampoo</h4></label><br>
          <input type="checkbox" id="horns" name="horns" unchecked>
          <label for="horns" class="heading-class"><h4 class="heading-class">Tv</h4></label><br>
          <input type="checkbox" id="horns" name="horns" unchecked>
          <label for="horns" class="heading-class"><h4 class="heading-class">closet</h4></label><br>
          <input type="checkbox" id="horns" name="horns" uchecked>
          <label for="horns" class="heading-class"><h4 class="heading-class">Heater</h4></label><br>
          <input type="checkbox" id="horns" name="horns" unchecked>
          <label for="horns" class="heading-class"><h4 class="heading-class">Air conditioner</h4></label><br>
          <h3 class="heading-class"><b>Saftey Amenities</b></h3>
          <input type="checkbox" id="horns" name="horns" unchecked>
          <label for="horns" class="heading-class"><h4 class="heading-class">First Aid</h4></label><br>
          <input type="checkbox" id="horns" name="horns" unchecked>
          <label for="horns" class="heading-class"><h4 class="heading-class">Fire Extenguisher</h4></label><br>
          <input type="checkbox" id="horns" name="horns" unchecked>
          <label for="horns" class="heading-class"><h4 class="heading-class">Lock On Door</h4></label><br>

          <div><br>



          <a href="##" class="scroll-down1" address="true"></a>

    </form>

    </section>
    <section class="ok2">
      <a href="###" class="scroll-up2" address="true"></a>
      <form class="box2" action="index.html" method="post">
        <h3 class="text-style">Price</h3>
        <input type="text" class="Price-class"  value="" placeholder="Price">
        <h3 class="text-style">Description</h3>
        <input type="text" class="Description-class"  value="" placeholder="Description">



      </form>
      
    </section>






  </body>

  <script type="text/javascript">
    $(function() {
    $('.scroll-down').click (function() {
      $('html,body').animate({scrollTop: $('section.ok1').offset().top }, '500');
      return true ;
    });
  });
  $(function() {
  $('.scroll-up1').click (function() {
    $('html,body').animate({scrollTop: $('section.ok').offset().top }, '500');
    return true ;
  });
});
  $(function() {
  $('.scroll-down1').click (function() {
    $('html,body').animate({scrollTop: $('section.ok2').offset().top }, 'smooth');
    return true ;
  });
});
  $(function() {
  $('.scroll-up2').click (function() {
    $('html,body').animate({scrollTop: $('section.ok1').offset().top }, 'smooth');
    return true ;
  });
});
  $(function() {
  $('.scroll-down2').click (function() {
    $('html,body').animate({scrollTop: $('section.ok3').offset().top }, '500');
    return true ;
  });
});

  $(function() {
  $('.scroll-up3').click (function() {
    $('html,body').animate({scrollTop: $('section.ok2').offset().top }, '500');
    return true ;
  });
});

$('.input-number-increment').click(function() {
  var $input = $(this).parents('.input-number-group').find('.input-number');
  var val = parseInt($input.val(), 10);
  $input.val(val + 1);
});

$('.input-number-decrement').click(function() {
  var $input = $(this).parents('.input-number-group').find('.input-number');
  var val = parseInt($input.val(), 10);
  $input.val(val - 1);
})
  </script>


</html>
