<html>
<head>
<link rel="stylesheet" href="main.css">
</head>
<body>


    <form class="box" action="index.html" method="post">

      <h1 class="text-style" ><b>what kind of place are you listing??</b></h1><br><br>
      <h3 class="text-style">first,let's narrow down the things</h3>
      <select  class="option-class" placeholder="House">
        <option class="option-class" value="House">House</option>
        <option  class="option-class"value="saab">Saab</option>
        <option class="option-class" value="opel">Opel</option>
        <option class="option-class" value="audi">Audi</option>
      </select>
      <br><br><br>
      <h3 class="text-style">Now choose a property type</h3>
      <select class="option-class" placeholder="House">
        <option class="option-class" value="House">House</option>
        <option class="option-class" value="saab">Saab</option>
        <option class="option-class" value="opel">Opel</option>
        <option class="option-class" value="audi">Audi</option>
      </select><br><br><br>

      <h3 class="text-style">what will guests have?</h3>
      <select class="option-class" placeholder="House">
        <option class="option-class" value="House">Shared Room</option>
        <option class="option-class" value="saab">Saab</option>
        <option class="option-class" value="opel">Opel</option>
        <option class="option-class" value="audi">Audi</option>
      </select><br><br><br>
      <h3 class="text-style">Is this set up as a dedicated guest space?</h3>
      <input type="radio" name="" value=""><span style="color:rgba(0,0,0,0.5);font-weight:bold;font-size:17px">Yes,it's primarily for guests</span><br>
      <input type="radio" name="" value=""><span style="color:rgba(0,0,0,0.5);font-weight:bold;font-size:17px">No,i keep my personals here</span><br><br><br>
      <h2 class="text-style"><b>where's your place located??</b></h2><br>
      <h3 class="text-style">Address Description</h3>
      <input type="text" class="address-class" value="" placeholder="Address">

      </form>

  </body>
</html>
